.group-list-notifs {
    
    
    padding: 7px; border-radius: 4px; background: #ddd; font-family: Josefin Slab;
   font-size: 15px;
   font-weight: bold;
}


.group-list-name {
    
    font-family: Josefin Slab;
   font-size: 15px;
   font-weight: bold;
    
}


.group-list-profile-img {
    border-radius: 5px;
}

.group-list-div {
padding: 0 0 0 0;
}


.main-body-div {
    max-width: 1100px; width: 100%; display: table; margin: 0 auto;
}

.post-editor {
    width: 100%; display: table; margin: 0 auto; margin-bottom: 20px; background: white; padding-top: 17px; padding-bottom: 17px; border-radius: 5px;
}

.group-list-notif-1 {
    padding-top: 10px;
}

.group-list-notif-2 {
    border-radius: 5px;
}

.post-username {
    background: #fff; padding-left: 15px; padding-top: 6px; padding-bottom: 16px; border-radius: 5px; margin-bottom: -10px; font-family: Josefin Slab;
   font-size: 18px;
   font-weight: bold;
}


.group-list-body {
    padding-left: 20px;
}

.logo-heading-1 {
    font-family: Eczar;
   font-size: 32px;
                      
   font-weight: bold;
}

.post-img-1 {
    border-radius: 0px; margin-bottom: 50px; width: 100%;
}

.group-list-row {
    width: 100%; padding: 0 0 0 0; margin: 0 0 0 0; border-bottom: 2px solid #ddd; padding-bottom: 5px; margin-bottom: 20px;
}

.post-owner-img {
    margin-left: -20px; border-radius: 5px;
}

.current-user-img {
    margin-left: 10px;  border-radius: 5px; 
}

.logo-heading-2 {
    color: #bdbdbd;
    
}

.chat-left-1 {
    border-radius: 3px; width: 40px; height: 40px; margin-left: 10px; float: right;
}


.chat-left-2 {
     margin-top: 0px; margin-left: 0px;
}

.writer-profile-img {
    margin-left: -20px; border-radius: 5px;
}

.new-group-1 {
    margin-left: 10px;   font-family: Josefin Slab; font-size: 15px; font-weight: bold;
}

.new-group-2 {
     border-radius: 5px; 
}

.logo-heading-3 {
    color: #bdbdbd; font-size: 24px;
}

.nav-head {
    background:  #35465c; width: 100%; margin-top: -40px; margin-bottom: 40px; border-bottom: 2px solid #fff; padding-top: 10px; padding-bottom: 10px;
}

.nav-main-row {
    max-width: 1100px; width: 100%; display: table; margin: 0 auto;
}

.dashboard-body {
    background-color: #35465c; padding-top: 0px; margin-top: 40px;
}

.group-list-membercount {
    
    font-family: Josefin Slab;
   font-size: 15px;
   font-weight: bold;
    color: black;
    
}

.search-main {
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: Josefin Slab;
   font-size: 15px;
    font-weight: bold;
    width: 250px;
    padding: 7px;
    
}


.input-style-2 {
    display: table; margin: 0 auto; margin-top: 20px;    font-family: Josefin Slab;
   font-size: 13px;
   font-weight: bold;
}


.input-style-1 {
    border-radius: 5px; display: table; margin: 0 auto; width: 40px; height: 40px;
}


.chat-right-1 {
     margin-top: 0px; margin-right: -10px; float: right;
}

.chat-right-2 {
    border-radius: 3px; width: 40px; height: 40px; margin-left: -10px; float: left;
}















/* CSS talk bubble */
.talk-bubble {
	margin: 20px;
  display: inline-block;
  position: relative;
	width: 300px;
	height: auto;
	background-color: white;
    border-radius: 3px;
    margin-top: 0px;
    font-family: Josefin Slab;
   font-size: 15px;
    font-weight: bold;
}


/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: white transparent transparent transparent;
}
/* Right triangle, left side slightly down */


/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
    
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}









/* CSS talk bubble */
.talk-bubble1 {
	margin: 20px;
  display: inline-block;
  position: relative;
	width: 300px;
	height: auto;
	background-color: white;
    border-radius: 3px;
    float: right;
    margin-top: 0px;
    font-family: Josefin Slab;
   font-size: 15px;
    font-weight: bold;
}


/* Right triangle placed top left flush. */
.tri-right1.border1.left-top1:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  right: -40px;
	left: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: white transparent transparent transparent;
}
.tri-right1.left-top1:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  right: -20px;
	left: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: white transparent transparent transparent;
}
/* Right triangle, left side slightly down */


/* talk bubble contents */
.talktext1{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext1 p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}